body {
  background: #e4f0f0;
  font-family: 'Arial';
  box-sizing: border-box;
}
body p {
  margin: 0;
}
body a {
  text-decoration: none;
}
body .turquoise {
  color: #01c5c5;
  font-weight: 900;
}
.row {
  margin: 76px 125px;
}
.wrap {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  width: 260px;
  position: relative;
}
.wrap .header {
  text-align: center;
  margin: 0 auto;
  background: #01c5c5;
  position: absolute;
}
.wrap .header p {
  text-transform: uppercase;
  font-size: 12px;
  color: #ffffff;
  line-height: 1;
  font-weight: bolder;
  padding: 6px 10px;
}
.wrap .container {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}
.wrap .container .form p {
  font-size: 12px;
  font-weight: bold;
  color: #333333;
  margin: 20px 0 15px;
}
.wrap .container .form .input {
  width: 250px;
  padding: 8px 0 8px 12px;
  background: #e4f0f0;
  font-size: 12px;
  font-style: italic;
  border-radius: 2px;
  border: none;
}
.wrap .button {
  background: #01c5c5;
  width: 260px;
  margin-top: 35px;
  margin-bottom: 30px;
  display: flex;
  border-radius: 5px;
}
.wrap .button a {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 16px auto;
}
.wrap .button a:hover {
  color: #333333;
}
